*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
pc-api-4805865748493475829-919-fffafce822c9.json
test-track-364314-b563af9c795c.json
app/google-services.json
signing-key.json